version: '3.8'

services:
  apigateway:
    build:
      context: ./src/ApiGateway
      dockerfile: Dockerfile
    ports:
      - "5000:8080"
    depends_on:
      - productservice
      - orderservice
    networks:
      - microservices-network

  productservice:
    build:
      context: ./src/ProductService
      dockerfile: Dockerfile
    ports:
      - "5001:8080"
    networks:
      - microservices-network

  orderservice:
    build:
      context: ./src/OrderService
      dockerfile: Dockerfile
    ports:
      - "5002:8080"
    environment:
      - ProductService__BaseUrl=http://productservice:8080
    depends_on:
      - productservice
    networks:
      - microservices-network

networks:
  microservices-network:
    driver: bridge
